name: Build bsp_builder python extenstion

# on:
#   workflow_dispatch: # Allows manual triggering from the Actions tab

on: [push]

jobs:
  build:
    name: Build ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        working-directory: ./bsp_builder
    strategy:
      matrix:
        include:
          - name: Linux-x64
            os: ubuntu-latest
            artifact_name: bsp_builder-linux-x64
          - name: Windows-x64
            os: windows-latest
            artifact_name: bsp_builder-windows-x64
          - name: Windows-ARM64
            os: windows-latest
            artifact_name: bsp_builder-windows-arm64
            cmake_flags: -A ARM64
          - name: MacOS-Universal
            os: macos-latest
            artifact_name: bsp_builder-macos-universal
            cmake_flags: -DCMAKE_OSX_ARCHITECTURES="arm64;x86_64"

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Set up Python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: pip install pybind11

      - name: Configure CMake
        run: >
          cmake -S . -B build
          -DCMAKE_BUILD_TYPE=Release
          -DPYTHON_EXECUTABLE=${{ env.pythonLocation }}/python
          ${{ matrix.cmake_flags }}

      - name: Build
        run: cmake --build build --config Release

      - name: Upload Binaries
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.artifact_name }}
          # Path grabs the raw .so or .pyd regardless of deep folder structures
          path: |
            bsp_builder/build/**/*.so
            bsp_builder/build/**/*.pyd
